
.topnav {
  background-color: #f0eaea;
  overflow: hidden;
  background: var(--light-bg);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #ebe1e1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #e7dede;
  color: rgb(238, 228, 228);
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #f7fcfa;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display:var(--primary);
    text-align: left;
  }
}





@import url('https://fonts.googleapis.com/css?family=Poppins');

:root{
  --primary:#1f2e88;
  --secondary:#2f66d4;
  --hover:#a2d9f5;
  --black:#333;
  --white:#fff;
  --light-color:#666;
  --light-bg:#eee;
  --border:.2rem solid rgba(0,0,0,.1);
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
  font-family: 'poppins' ,'sans-self';
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width:  .8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background:  var(--primary);
  border-radius: 5rem;
}

section{
  padding: 5rem 7%;
}

.heading{
    font-size: 4rem;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: .5rem;
    background: var(--primary);
    cursor: pointer;
    font-size: 1.7rem;
    color: var(--white);
}

.btn:hover{
  background: var(--secondary);
}

/* header */
.header{
  position: fixed;
  top: 0;left: 0;right: 0;
  z-index: 1000;
  background:  var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  2rem 9%;
}

.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i{
  color: var(--primary);
  padding-right: .5rem;
}

.header .navbar a{
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}

.header .navbar a:hover{
  color: var(--primary);
}

.header .btn{
  margin-top: 0;
}

#menu-btn{
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
  margin-left: 1.7rem;
  display: none;
}

#menu-btn:hover{
  color: var(--primary);
}

/* header end */

/* home */

.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../eproject/pic.webp) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  max-width: 60rem;
  padding-left:6rem ;
  padding-top: 10rem;
}

.home .content h3{
  font-size: 6rem;
  color: var(--black);
  line-height: 1.2;
}

.home .content p{
    line-height: 2;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

/* home end */

/* about us */

.about .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .row .image{
  flex: 1 1 40rem;
}

.about .row .image img{
  width: 100%;
  height: 100%;
}

.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content h3{
  color: var(--black);
  font-size: 3.5rem;
 line-height: 1.5;
}

.about .row .content{
  font-size: 1.4rem;
  color: var(--light-color);
  padding: 1rem 0;
  line-height: 2;
}

/* about end */

/* services */

.services{
  background: var(--light-bg);
}

.services .box-container{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.services .box-container .box{
  padding: 4rem;
  text-align: center;
  background: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 5rem;
}

.services .box-container .box:hover{
  background: var(--hover);
}

.services .box-container .box img{
  margin: 1rem 0;
  height: 10rem;
}

.services .box-container .box h3{
  font-size: 2rem;
  padding: 1rem 0;
  color: var(--black);
}

.services .box-container .box p{
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
}

/* services section end*/
/* team section */

 .team .slide{
  text-align: center;
 }

 .team .slide .image{
  position: relative;
  overflow: hidden;
 }

 .team .slide .image img{
  width: 100%;
 }

 .team .slide .image .share{
  padding: 2rem;
  position: absolute;
  bottom: -10rem;
  left: 0; right: 0;
  background: rgba(0,0,0,.8);
 }

 .team .slide:hover .image .share{
  bottom: 0;
 }


 .team .slide .image .share a{
  font-size: 3rem;
  margin: 0 1rem;
  color: var(--light-bg);
 }

 .team .slide .image .share a:hover{
     color: var(--secondary);
 }

 .team .slide .content{
  display: flex;
  padding-top: 1rem;
  align-items: center;
  justify-content: space-between;
 }

 .team .slide .content .h3{
  font-size: 2rem;
  color: var(--black);
 }

 .team .slide .content span{
  font-size: 1.5rem;
  line-height: 2;
  color: var(--light-color);
 }


/* team section end */
/* pricing plan */

.pricing{
  background: var(--light-bg);
}

.pricing .box-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pricing .box-container .box{
  height: 50rem;
  width: 30rem;
  margin: 2rem 4rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background: var(--white);
}

.pricing .box-container .active{
  background: var(--hover);
}
  

.pricing .box-container .box .title{
  margin: 3rem 0;
  font-size: 2.2rem;
  color: var(--black);
  text-transform: uppercase;
}

.pricing .box-container .box .price{
  color: var(--primary);
  margin-bottom: 5rem;
}

.pricing .box-container .box .price .currency{
  font-size: 4rem;
  line-height: 3.5rem;
  font-weight: 300;
}

.pricing .box-container .box .price .amount{
  font-size: 5.8rem;
  line-height: 4.5rem;
  font-weight: 700;
}

.pricing .box-container .box .price .duration{
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: .2rem;
}

.pricing .box-container .box ul li{
  text-align: left;
  font-size: 1.6rem;
  padding-left: 3.5rem;
  margin: 2rem auto;
  color: var(--light-color);
  text-transform: uppercase;
}

.pricing .box-container .box ul li i{
  padding: 01rem;
  color: var(--secondary);
}

/* pricing plan end */
/* blog */

.blog .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.blog .box-container .box{
  border: var(--border);
}

.blog .box-container .box .image{
  height: 25rem;
  width: 100%;
  overflow: hidden;
}

.blog .box-container .box .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog .box-container .box:hover .image img{
  transform: scale(1.2);
}

.blog .box-container .box .content{
  padding: 2rem 1.5rem;
}

.blog .box-container .box .content .link{
  display: inline-block;
  margin-bottom: 3rem; 
  padding: .6rem 1.5rem;
  background: var(--primary);
  font-size: 1.4rem;
  color: var(--white);
}

.blog .box-container .box .content .link:hover{
  background: var(--secondary);
}

.blog .box-container .box .content .icons{
  padding-bottom: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog .box-container .box .content .icons a{
  font-size: 1.4rem;
  color: var(--light-color);
}

.blog .box-container .box .content .icons a:hover{
  color: var(--primary);
}

.blog .box-container .box .content .icons a i{
  color: var(--primary);
  padding-left: .5rem;
}

.blog .box-container .box .content h3{
  font-size: 2.2rem;
  color: var(--black);
}

.blog .box-container .box .content p{
  padding: 1rem;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

/* blog end */
/* map */

iframe {
  border: 1px solid black;
  width: 99%;
  height: 2000%;
 border-radius: 6px;
 box-shadow: #55767c;
}
/* map end */
/* contact */

.contact{
  background: var(--light-bg);
}

.contact form{
  padding: 2rem;
  background: var(--white);
  max-width: 50rem;
  margin: 0 auto;
  border-radius: .5rem;
}

.contact form span{
  font-size: 1.7rem;
  color: var(--primary);
}


.contact form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact form .inputBox input{
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
  background: var(--light-bg);
  border-radius: .5rem;
  width: 49%;
}

.contact form .box{
  margin: 1rem 0;
  width: 100%;
  background: var(--light-bg);
  border-radius: .5rem;
 padding: 1rem;
 font-size: 1.7rem;
 color: var(--black);
 text-transform: capitalize; 
}

/* contact end */
/* footer */

.footer{
  text-align: center;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3{
  font-size: 2.2rem;
  padding: 1rem 0;
  color: var(--secondary);
}

.footer .box-container .box p{
  font-size: 1.5rem;
  padding: .5rem 0;
  line-height: 2;
  color: var(--light-color);
}

.footer .box-container .box .share{
  margin-top: 1rem;font-size: 5rem;
}

.footer .box-container .box .share a{
  height: 4.5rem;
  width: 4.5rem;
  background: var(--white);
  color: var(--primary);
  line-height: 4.5renm;
  border-radius: 10%;
  font-size: 1.7rem;
  margin-right: .3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover{
  background: var(--secondary);
}

.footer .box-container .box .link{
  display: block;
  font-size: 1.7rem;
  line-height: 2;
  color: var(--primary);
  padding: .5rem 0;
}

.footer .box-container .box .link:hover{
  color: var(--hover);
}

.footer .credit{
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary);
  border-top: .1rem solid var(--secondary);
}

.footer .credit span{
  color: var(--secondary);
}
/* footer end */
/* media queries */

 @media (max-widht:991){ */

  html{
    font-size: 55%;
  }

  .header .btn{
        display: none;
  }

  section{
    padding: 2rem;
  }
}


@media (max-widht: 768px){
  
  #menu-btn{
    display: inline-block;
  }

  #menu-btn.fa-times{
    transform: rotate(180deg);
  }

  .header .navbar{
    position: absolute;
    top: 99%; left: 0; right: 0;
    background: var(--white);
    border-top: var(--border);
    padding: 1rem 0;
    text-align: center;
    flex-flow: column;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar .active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


